* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  background: #802b25;
}

body {
  margin: 0;
}


.no-users {
  padding: 0.5rem;
  width: 90%;
  max-width: 40rem;
  margin: 2rem auto;
}